<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters p-0">
      <div class="jumbotron text-white mb-0" style="background:url(/photo_top2.jpg);background-size:cover;height:600%;background-position: center; ">
          
      </div>
    </div>
  </div>
</div>